[Unit]
Description=Spectro Initialization
DefaultDependencies=no
Before=local-fs.target

[Service]
ExecStart=/var/lib/spectro/spectro-init.sh
User=root
Group=root
Restart=on-failure
RemainAfterExit=yes
RestartSec=5s

[Install]
WantedBy=local-fs.target
